on:
  push:
  pull_request:
  schedule:
  - cron: 0 0 * * *  # midnight every day

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

name: vvm workflow

jobs:

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - name: Install Tox
      run: pip install tox wheel

    - name: Run Tox
      run: tox -e lint

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [["3.8", "38"], ["3.9", "39"], ["3.10", "310"], ["3.11", "311"], ["3.12", "312"]]
        include:
          - os: macos-latest
            python-version: ["3.11", "311"]
          - os: windows-latest
            python-version: ["3.11", "311"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python ${{ matrix.python-version[0] }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version[0] }}

    - name: Install Tox
      run: pip install tox wheel

    - name: Run Tox
      run: tox -e py${{ matrix.python-version[1] }}

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: true
